<a href="https://colab.research.google.com/github/ShahadFh/ShahadAlhmoud/blob/main/Data_Cleaning_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Loading the dataset

In [9]:
df=pd.read_csv('/content/drive/MyDrive/T5bootcamp/Titanic-Dataset.csv')

In [ ]:
import pandas as pd
import numpy as np

# Handling Null Values

In [11]:
# Check for null values (1 line)
print(df.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
# Fill null values for 'Embarked' with the mode(1 line)
df['Embarked'] =df['Embarked'].fillna(df['Embarked'].mode()[0])
print(df.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [16]:
# Drop rows with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)
df.dropna(subset = 'Cabin', inplace = True)
print(df.isna().sum())

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            19
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin           0
Embarked        0
dtype: int64

# Handling Duplicates

In [18]:
# Check for duplicates (1 line)
print(df.duplicated().sum())

# Drop duplicates if any (1 line)
df.drop_duplicates(inplace = True)
print(df.duplicated().sum())

0
0

# Handling Outliers

In [34]:
import numpy as np

# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers from 'Fare' using the remove_outilers function (1 line)
df = remove_outliers(df, 'Fare')

# Scaling and Normalization

In [32]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)
df ['Fare'] = (df['Fare'] - df['Fare'].mean()) / df['Fare'].std()

# Min-Max scaling for 'Age' (2 lines)
scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(df[['Age']])
print(df)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex       Age  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.468892
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.430956
6                              McCarthy, Mr. Timothy J    male  0.671219
10                     Sandstrom, Miss. Marguerite Rut  female  0.038948
11                            Bonnell, Miss. Elizabeth  female  0.721801
..                                                 ...     ...       ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  0.582701
872                           Carlsson, Mr. Frans Olof    male  0.405665
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  0.696510
887                       Graham, Miss. Margaret Edith  female  0.228629
889                              Behr, Mr. Karl Howell    male  0.317147

     SibSp  Parch    Ticket      Fare        Cabin Embarked
1        1      0  PC 17599  0.356861          C85        C
3        1      0    113803 -0.124089         C123        S
6        0      0     17463 -0.156821          E46        S
10       1      1   PP 9549 -1.086872           G6        S
11       0      0    113783 -0.826338         C103        S
..     ...    ...       ...       ...          ...      ...
871      1      1     11751 -0.138525          D35        S
872      0      0       695 -1.396337  B51 B53 B55        S
879      0      1     11767  0.670955          C50        C
887      0      0    112053 -0.735086          B42        S
889      0      0    111369 -0.735086         C148        C

[186 rows x 12 columns]

<ipython-input-32-8119a8c5d2b6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['Fare'] = (df['Fare'] - df['Fare'].mean()) / df['Fare'].std()
<ipython-input-32-8119a8c5d2b6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = scaler.fit_transform(df[['Age']])

# Encoding Categorical Variables

In [33]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)
df = pd.get_dummies(df, columns=['Embarked', 'Sex'])
print(df)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name       Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  0.468892      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.430956      1
6                              McCarthy, Mr. Timothy J  0.671219      0
10                     Sandstrom, Miss. Marguerite Rut  0.038948      1
11                            Bonnell, Miss. Elizabeth  0.721801      0
..                                                 ...       ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  0.582701      1
872                           Carlsson, Mr. Frans Olof  0.405665      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  0.696510      0
887                       Graham, Miss. Margaret Edith  0.228629      0
889                              Behr, Mr. Karl Howell  0.317147      0

     Parch    Ticket      Fare        Cabin  Embarked_C  Embarked_Q  \
1        0  PC 17599  0.356861          C85        True       False
3        0    113803 -0.124089         C123       False       False
6        0     17463 -0.156821          E46       False       False
10       1   PP 9549 -1.086872           G6       False       False
11       0    113783 -0.826338         C103       False       False
..     ...       ...       ...          ...         ...         ...
871      1     11751 -0.138525          D35       False       False
872      0       695 -1.396337  B51 B53 B55       False       False
879      1     11767  0.670955          C50        True       False
887      0    112053 -0.735086          B42       False       False
889      0    111369 -0.735086         C148        True       False

     Embarked_S  Sex_female  Sex_male
1         False        True     False
3          True        True     False
6          True       False      True
10         True        True     False
11         True        True     False
..          ...         ...       ...
871        True        True     False
872        True       False      True
879       False        True     False
887        True        True     False
889       False       False      True

[186 rows x 15 columns]